.error {
    border-radius: 10px;;
    padding:15px;
    color:white;
    background-color: tomato;
}

.logo{
    height: 30px;
}

.active {
    font-weight: bold;
}

.container {
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.jc-sb{
    justify-content: space-between;
}

.jc-sa{
    justify-content: space-around;
}

.vignette{
    width: 200px;
    border: 1px solid black;
    margin: 5px;
}

.vignette img {
    width: 200px;
}

.vignette a {
    text-decoration: none;
    color: black;
}

.btn {
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color:black;
}
.p-5{
    padding: 5px;
}


body{
    margin : 0;
    padding:0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    padding: 5px;
}

nav a {
    color:black;
    text-decoration: none;
    
}

dl {
    display: flex;
}

dt{
    width: 40%;
    font-weight: bold;
}
dd{
    width: 60%;
}

label{
    display: inline-block;
    width: 150px;
}

input, select {
    width: 300px;
}